<mat-card class="post-card">
  <mat-card-header>
    <div>
      <mat-card-title>{{ post?.user?.name }}</mat-card-title>
      <mat-card-subtitle>
        Shared {{ post?.date | date : "short" }}
      </mat-card-subtitle>
    </div>
  </mat-card-header>

  <mat-card-content>
    <p>{{ post?.content }}</p>

    <!-- Reaction Summary -->
    <div class="reaction-summary" (mouseleave)="hideReactionPicker()">
      <button
        mat-icon-button
        (mouseenter)="showReactionPicker()"
        class="reaction-button"
      >
        <img
          class="reaction-icon"
          [src]="'assets/icons/' + getTopReaction() + '.png'"
          alt="reaction"
        />
        <span *ngIf="getTotalReactions() > 0" class="reaction-count">
          {{ getTotalReactions() }}
        </span>
      </button>

      <!-- Reaction Picker -->
      <div
        class="reaction-picker"
        [ngClass]="{ visible: isReactionPickerVisible }"
      >
        <button
          *ngFor="let reaction of reactionTypes"
          (click)="toggleReaction('post', post._id, reaction)"
        >
          <img
            class="reaction-icon"
            [src]="'assets/icons/' + reaction + '.png'"
            alt="{{ reaction }}"
          />
        </button>
      </div>
    </div>

    <button mat-button (click)="toggleComments()" class="toggle-comments-btn">
      <mat-icon>{{ showComments ? "expand_less" : "expand_more" }}</mat-icon>
      {{ showComments ? "Hide Comments" : "Show Comments" }}
    </button>

    <!-- Comment Section -->
    <div *ngIf="showComments" class="comments-section">
      <div *ngFor="let comment of post.comments" class="comment">
        <div class="comment-content">
          <div class="comment-user-avatar">
            <mat-icon>person</mat-icon>
          </div>
          <div class="comment-body">
            <strong>{{ comment.user.name }}</strong>
            <p>{{ comment?.content }}</p>
            <span class="comment-date">{{
              comment?.date | date : "short" : "shortTime"
            }}</span>

            <!-- Comment Reaction Summary -->
            <div
              class="reaction-summary comment-reaction-summary"
              (mouseleave)="hideReactionPicker(comment)"
            >
              <button
                mat-icon-button
                (mouseenter)="showReactionPicker(comment)"
                class="reaction-button"
              >
                <img
                  class="reaction-icon"
                  [src]="'assets/icons/' + getTopReaction(comment) + '.png'"
                  alt="reaction"
                />
                <span
                  *ngIf="getTotalReactions(comment) > 0"
                  class="reaction-count"
                >
                  {{ getTotalReactions(comment) }}
                </span>
              </button>

              <div
                class="reaction-picker"
                [ngClass]="{ visible: comment.isReactionPickerVisible }"
              >
                <button
                  *ngFor="let reaction of reactionTypes"
                  (click)="
                    toggleReaction('comment', post._id, reaction, comment._id)
                  "
                >
                  <img
                    class="reaction-icon"
                    [src]="'assets/icons/' + reaction + '.png'"
                    alt="{{ reaction }}"
                  />
                </button>
              </div>
            </div>

            <button
              mat-button
              class="reply-btn"
              (click)="toggleReplies(comment._id)"
            >
              <mat-icon>{{
                comment.showReplies ? "expand_less" : "expand_more"
              }}</mat-icon>
              {{ comment.showReplies ? "Hide Replies" : "Show Replies" }}
            </button>
          </div>
        </div>

        <div *ngIf="comment.showReplies" class="fancy-divider"></div>

        <div *ngIf="comment.showReplies" class="replies-section">
          <div *ngFor="let reply of comment.replies" class="reply">
            <div class="reply-content">
              <div class="reply-user-avatar">
                <mat-icon>person</mat-icon>
              </div>
              <div class="reply-body">
                <strong>{{ reply.user.name }}</strong>
                <p>{{ reply?.content }}</p>
                <span class="reply-date">{{
                  reply?.date | date : "short" : "shortTime"
                }}</span>

                <!-- Reply Reaction Summary -->
                <div
                  class="reaction-summary reply-reaction-summary"
                  (mouseleave)="hideReactionPicker(reply)"
                >
                  <button
                    mat-icon-button
                    (mouseenter)="showReactionPicker(reply)"
                    class="reaction-button"
                  >
                    <img
                      class="reaction-icon"
                      [src]="'assets/icons/' + getTopReaction(reply) + '.png'"
                      alt="reaction"
                    />
                    <span
                      *ngIf="getTotalReactions(reply) > 0"
                      class="reaction-count"
                    >
                      {{ getTotalReactions(reply) }}
                    </span>
                  </button>

                  <div
                    class="reaction-picker"
                    [ngClass]="{ visible: reply.isReactionPickerVisible }"
                  >
                    <button
                      *ngFor="let reaction of reactionTypes"
                      (click)="
                        toggleReaction(
                          'reply',
                          post._id,
                          reaction,
                          comment._id,
                          reply._id
                        )
                      "
                    >
                      <img
                        class="reaction-icon"
                        [src]="'assets/icons/' + reaction + '.png'"
                        alt="{{ reaction }}"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="new-reply-section">
            <input
              matInput
              placeholder="Write a reply..."
              [(ngModel)]="newReplies[comment._id]"
              [disabled]="isSubmittingReply[comment._id]"
            />
            <button
              mat-button
              color="primary"
              (click)="onSubmitReply(comment._id)"
            >
              Reply
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="new-comment-section">
      <input
        matInput
        placeholder="Write a comment..."
        [(ngModel)]="newComment"
        [disabled]="isSubmittingComment"
      />
      <button mat-button color="primary" (click)="onSubmitComment()">
        Submit
      </button>
    </div>
  </mat-card-content>
</mat-card>
